.navbar {
    display: flex;
    align-items: center;
    padding: 0 16px;
}
.navbaragency{
    display: flex;
    align-items: center;
    padding: 0 16px;
    background-color: #98d4ff;
}
.navbar-brand {
    font-size: 20px;
    font-weight: 600;
    margin-right: 16px;
    cursor: pointer;
}

.spacer {
    flex: 1;
}

button {
    color: white;
    text-transform: uppercase;
    margin-left: 8px;
}

button.active {
    font-weight: 600;
}

.custom-toolbar {
    background-color: #ff0000;
}

.wa{
    font-size: 12px;
}