
<div *ngIf="!isHikerLoggedIn && !isAdminLoggedIn">
<mat-toolbar class="primary" class="navbar">

  <span class="navbar-brand">Hiking Trails</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/book" routerLinkActive="active" >Book</button>
  <button mat-button routerLink="/signup" rouuterLinkActive="active" >Register</button>
  <button mat-button routerLink="/login" routerLinkActive="active" >Login</button>

</mat-toolbar>
</div>


<div *ngIf="isAdminLoggedIn">
<mat-toolbar class="primary" class="navbar">

  <span class="navbar-brand">Hiking Trails</span>
  <span class="spacer"></span>
<button mat-button routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</button>
<button mat-button routerLink="/admin/analytics" routerLinkActive="active">Analytics</button>
<button mat-button routerLink="/admin/category" routerLinkActive="active">Category</button>
<button mat-button routerLink="/admin/trail" routerLinkActive="active">Trail</button>
<button mat-button routerLink="/admin/orders" routerLinkActive="active">Orders</button>
<button mat-button routerLink="/admin/post-coupon" routerLinkActive="active">Post Coupon</button>
<button mat-button routerLink="/admin/coupons" routerLinkActive="active">Coupons</button>
<button mat-button routerLinkActive="active" (click)="logout()">Logout</button>
</mat-toolbar>
</div>


<div *ngIf="isHikerLoggedIn">
<mat-toolbar class="primary" class="navbar">

  <span class="navbar-brand">Hiking Trails</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/hiker/dashboard" routerLinkActive="active" >Dashboard</button>
  <button mat-button routerLink="/hiker/demand" rouuterLinkActive="active" >Demand</button>
  <button mat-button routerLink="/hiker/my_orders" routerLinkActive="active" >Orders</button>
  <button mat-button routerLink="/hiker/wishlist" routerLinkActive="active" >Wishlist</button>
  <button mat-button routerLink="/hiker/profile" routerLinkActive="active" >Profile</button>
  <button mat-button routerLinkActive="active" (click)="logout()">Logout</button>

</mat-toolbar>
</div>
<router-outlet></router-outlet>
