
<div *ngIf="!isHikerLoggedIn && !isAdminLoggedIn && !isAgencyLoggedIn">
<mat-toolbar class="primary" class="navbar">

  <span class="navbar-brand" routerLink="/visitor/dashboard" >Hiking Trails</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/book" routerLinkActive="active" >Track Booking</button>
  <button mat-button routerLink="/signup" rouuterLinkActive="active" >Register</button>
  <button mat-button routerLink="/login" routerLinkActive="active" >Login</button>

</mat-toolbar>
</div>


<div *ngIf="isAdminLoggedIn">
<mat-toolbar class="primary" class="navbar">
  <span class="navbar-brand" routerLink="/admin/dashboard">Hiking Trails</span>
  <span class="spacer"></span>
<button mat-button routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</button>
<!-- <button mat-button routerLink="/admin/analytics" routerLinkActive="active">Analytics</button> -->
<button mat-button routerLink="/admin/category" routerLinkActive="active">Category</button>
<button mat-button routerLink="/admin/trail" routerLinkActive="active">Add Trail</button>
<button mat-button routerLink="/admin/bookings" routerLinkActive="active">Booking requests</button>
<!-- <button mat-button routerLink="/admin/post-coupon" routerLinkActive="active">Post Coupon</button> -->
<!-- <button mat-button routerLink="/admin/coupons" routerLinkActive="active">Coupons</button> -->
<button mat-button routerLinkActive="active" (click)="logout()">Logout</button>
</mat-toolbar>
</div>


<div *ngIf="isAgencyLoggedIn">
<mat-toolbar class="primary" class="navbaragency">

  <span class="navbar-brand" routerLink="/agency/dashboard"> <i class="fas fa-building" style="margin-right: 8px;"></i>Agency Space</span>
  <span class="spacer"></span>
<button mat-button routerLink="/agency/dashboard" routerLinkActive="active">Dashboard</button>
<!-- <button mat-button routerLink="/agency/analytics" routerLinkActive="active">Analytics</button> -->
<!-- <button mat-button routerLink="/agency/category" routerLinkActive="active">Category</button> -->
<button mat-button routerLink="/agency/trail" routerLinkActive="active">Add Trail</button>
<button mat-button routerLink="/agency/bookings" routerLinkActive="active">Booking requests</button>
<!-- <button mat-button routerLink="/agency/post-coupon" routerLinkActive="active">Post Coupon</button> -->
<!-- <button mat-button routerLink="/agency/coupons" routerLinkActive="active">Coupons</button> -->
<button mat-button routerLinkActive="active" (click)="logout()">Logout</button>
</mat-toolbar>
</div>


<div *ngIf="isHikerLoggedIn">
<mat-toolbar class="primary" class="navbar">

  <span class="navbar-brand" routerLink="/hiker/dashboard" >Hiking Trails</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/hiker/dashboard" routerLinkActive="active" >Dashboard</button>
  <button mat-button routerLink="/hiker/demand" rouuterLinkActive="active" >Demand List</button>
  <button mat-button routerLink="/hiker/my_bookings" routerLinkActive="active" >Bookings history </button>
  <!-- <button mat-button routerLink="/hiker/wishlist" routerLinkActive="active" >Wishlist</button> -->
  <button mat-button routerLink="/hiker/profile" routerLinkActive="active" >Profile</button>
  <button mat-button routerLinkActive="active" (click)="logout()">Logout</button>

</mat-toolbar>
</div>
<router-outlet></router-outlet>
