<ng-container>

    <mat-table #basicTable [dataSource]="myBookings" class="mat-elevation-z8">

        <ng-container matColumnDef="trackingId">
            <mat-header-cell *matHeaderCellDef style="font-weight: bolder; color: #003973;">
                Tracking ID</mat-header-cell>
            <mat-cell *matCellDef="let myBook">{{ myBook.trackingId }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef style="font-weight: bolder; color: #003973;">
                Amount</mat-header-cell>
            <mat-cell *matCellDef="let myBook">{{ myBook.amount }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef style="font-weight: bolder; color: #003973;">
                Description</mat-header-cell>
                <!-- bookDescription is suspectly wrong -->
            <mat-cell *matCellDef="let myBook">{{ myBook.bookDescription }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef style="font-weight: bolder; color: #003973;">
                Address</mat-header-cell>
            <mat-cell *matCellDef="let myBook">{{ myBook.address }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef style="font-weight: bolder; color: #003973;">
                Date</mat-header-cell>
            <mat-cell *matCellDef="let myBook">{{ myBook.date | date: 'dd/MM/yyyy' }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef style="font-weight: bolder; color: #003973;">
                Status</mat-header-cell>
            <mat-cell *matCellDef="let myBook">{{ myBook.bookStatus }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef style="font-weight: bolder; color: #003973;">
                Action</mat-header-cell>
            <mat-cell *matCellDef="let myBook">
            <!-- in the upcoming videos -->
            </mat-cell>
        </ng-container>

        <mat-header-row
        *matHeaderRowDef="['trackingId','amount', 'description', 'address', 'date', 'status', 'action']"></mat-header-row>
        <mat-row
        *matRowDef="let myBook; columns: ['trackingId','amount', 'description', 'address', 'date', 'status', 'action']"></mat-row>
    </mat-table>

</ng-container>