<!-- dashboard.component.html -->
<form [formGroup]="searchTrailForm" class="search-form" (ngSubmit)="submitForm()">
    <mat-form-field appearance="outline" class="search-input">
        <mat-label>Enter Keyword to search</mat-label>
        <input matInput formControlName="title">
        <button mat-button matSuffix color="primary" [disabled]="searchTrailForm.invalid">
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
</form>

<div class="trail-list">
    <mat-card class="trail-card" *ngFor="let trail of trails | paginate: { itemsPerPage: itemsPerPage, currentPage: page, totalItems: totalItems }">
        <div class="trail-image">
            <img [src]="trail.processedImg" alt="trail-image">
        </div>
        <div class="trail-details" >
            <h2 class="trail-name" routerLink="/hiker/trail/{{trail.id}}">{{ trail.name }}</h2>
            <p class="trail-description">{{ trail.description }}</p>
            <mat-divider></mat-divider>
            <div class="trail-info">
                <div class="info-row">
                    <span class="info-label">Price:</span>
                    <span class="info-value">${{ trail.price }}</span>
                </div>
                <div class="info-row">
                    <span class="info-label">Difficulty level:</span>
                    <span class="info-value">{{ trail.categoryName }}</span>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="actions">
                <div class="coordinates-button" ><button  color=""  (click)="openHikerMapDialog(trail.startLat, trail.startLng, trail.endLat, trail.endLng)">
                    <mat-icon>place</mat-icon>
                </button></div>

                <button color="primary" class="update-button" (click)="addToDemand(trail.id)">
                    Add to my list <mat-icon matSuffix>bookmark_border</mat-icon>
                </button>
            </div>
        </div>
    </mat-card>
</div>

<pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
