<div class="container">
    <h2>Add Trail</h2>

    <form [formGroup]="trailForm" (ngSubmit)="addTrail()">

        <div class="file-upload-container">
            <label class="file-upload-label">
                <span>Select a picture for the trail</span>
                <input type="file" accept="image/*" id="fileInput" (change)="onFileSelected($event)" hidden>
                <mat-icon>attach_file</mat-icon>
            </label>

            <div *ngIf="selectedFile" class="image-preview">
                <div class="circle-image">
                    <img [src]="imagePreview" alt="Selected Image" class="preview-image">
                </div>
            </div>

        </div>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Select a Category</mat-label>
            <mat-select formControlName="categoryId" name="categoryId">
                <mat-option *ngFor="let category of listOfCategories" [value]="category.id">
                    {{category.name}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="trailForm.get('categoryId')?.hasError('required')">This Input is
                Required!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Name</mat-label>
            <input matInput type="text" placeholder="Name" formControlName="name">
            <mat-error *ngIf="trailForm.get('name')?.hasError('required')">This Input is
                Required!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Price</mat-label>
            <input matInput type="number" placeholder="Price" formControlName="price">
            <mat-error *ngIf="trailForm.get('price')?.hasError('required')">This Input is
                Required!</mat-error>
        </mat-form-field>

        
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Description" formControlName="description"></textarea>
            <mat-error *ngIf="trailForm.get('description')?.hasError('required')">This Input is
            Required!</mat-error>
        </mat-form-field>



        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Start Latitude</mat-label>
            <input matInput type="number" placeholder="Start Latitude" formControlName="startLat">
            <mat-error *ngIf="trailForm.get('startLat')?.hasError('required')">This Input is Required!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Start Longitude</mat-label>
            <input matInput type="number" placeholder="Start Longitude" formControlName="startLng">
            <mat-error *ngIf="trailForm.get('startLng')?.hasError('required')">This Input is Required!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>End Latitude</mat-label>
            <input matInput type="number" placeholder="End Latitude" formControlName="endLat">
            <mat-error *ngIf="trailForm.get('endLat')?.hasError('required')">This Input is Required!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>End Longitude</mat-label>
            <input matInput type="number" placeholder="End Longitude" formControlName="endLng">
            <mat-error *ngIf="trailForm.get('endLng')?.hasError('required')">This Input is Required!</mat-error>
        </mat-form-field>


        <!-- Google Maps API integration -->
        <!-- <div id="map"></div> -->
        <!-- End Google Maps API integration -->











        <button mat-raised-button color="primary" type="submit">Add Trail</button>

    </form>

</div>