

<div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
<div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

<form [formGroup]="profileForm" (ngSubmit)="updatePassword()">
  <input formControlName="oldPassword" placeholder="Old Password" type="password">
  <input formControlName="newPassword" placeholder="New Password" type="password">
  <input formControlName="confirmPassword" placeholder="Confirm Password" type="password">
  <button type="submit">Update Password</button>
</form>
